In [18]:
import pandas as pd 
import gmaps 
import requests 
from config import g_key

In [19]:
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-05-16 20:29:55,-23.1203,-134.9692,75.04,61,100,10.92
1,1,Souris,CA,2021-05-16 20:32:29,49.6172,-100.2612,82.40,16,75,21.85
2,2,Nizip,TR,2021-05-16 20:32:29,37.0097,37.7942,66.20,34,0,3.44
3,3,Portland,US,2021-05-16 20:30:14,45.5234,-122.6762,80.01,43,1,8.05
4,4,Punta Arenas,CL,2021-05-16 20:29:54,-53.1500,-70.9167,44.60,100,90,14.97
...,...,...,...,...,...,...,...,...,...,...
559,559,Manadhoo,MV,2021-05-16 20:34:17,5.7667,73.3833,84.38,77,87,19.04
560,560,Yeppoon,AU,2021-05-16 20:34:17,-23.1333,150.7333,48.20,66,1,2.30
561,561,Nelson Bay,AU,2021-05-16 20:34:17,-32.7167,152.1500,48.99,66,0,20.71
562,562,Kuching,MY,2021-05-16 20:34:18,1.5500,110.3333,75.20,94,20,2.30
563,563,Bowen,AU,2021-05-16 20:30:05,-20.0167,148.2333,51.80,87,0,5.75

In [20]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [21]:
#configure gmaps to use the google maps API Key. 
gmaps.configure(api_key = g_key)

In [22]:
#assign locations to an array of lats and lons pairs 
locations = city_data_df[['Lat', 'Lng']]
#assign the weights variables to some values 
max_temp = city_data_df['Max Temp']
temps=[]
for temp in max_temp: 
    temps.append(max(temp,0))
#assign figure variables to the gmaps.figure() attribute 
#fig = gmaps.figure()
#add a center and zoom level to the gmaps.figure()attribute 
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
#assign the heatmap_layer variable to the heatmap_layer attribute 
#heatmap_layer = gmaps.heatmap_layer(locations, weights = temps)
heatmap_layer = gmaps.heatmap_layer(locations, weights = [max(temp,0) for temp in max_temp],\
                                   dissipating = False, max_intensity = 300, point_radius = 4)
#add the heatmap layer 
fig.add_layer(heatmap_layer)
#call the figure to plot the data 
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
#use hudimity to be the measurement 
locations = city_data_df[['Lat', 'Lng']]

humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,\
                              max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
#get the cloudiness heatmap 
locations = city_data_df[['Lat','Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating = False, 
                                max_intensity = 300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
#get the wind speed heatmap 
locations = city_data_df[['Lat','Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating = False, 
                                max_intensity = 300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
#use float(input()) to write statements for users 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for you trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for you trip?90

In [28]:
#filter the dataset to find the cities that fit the criteria 
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp']<= max_temp) & \
                                       (city_data_df['Max Temp']>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-05-16 20:29:55,-23.1203,-134.9692,75.04,61,100,10.92
1,1,Souris,CA,2021-05-16 20:32:29,49.6172,-100.2612,82.40,16,75,21.85
3,3,Portland,US,2021-05-16 20:30:14,45.5234,-122.6762,80.01,43,1,8.05
5,5,Aquidauana,BR,2021-05-16 20:32:30,-20.4711,-55.7872,86.04,29,64,2.86
6,6,Bathsheba,BB,2021-05-16 20:31:47,13.2167,-59.5167,84.20,61,40,19.57
8,8,Hilo,US,2021-05-16 20:30:08,19.7297,-155.0900,84.20,51,90,9.22
9,9,Albany,US,2021-05-16 20:29:19,42.6001,-73.9662,75.00,27,75,9.22
11,11,Grenada,ES,2021-05-16 20:31:53,37.1882,-3.6067,75.20,29,0,2.30
12,12,Grants,US,2021-05-16 20:32:31,35.1473,-107.8514,78.80,8,1,11.50
13,13,Katsuura,JP,2021-05-16 20:30:27,35.1333,140.3000,73.00,100,75,18.41

In [29]:
preferred_cities_df.count()

City_ID       239
City          239
Country       239
Date          239
Lat           239
Lng           239
Max Temp      239
Humidity      239
Cloudiness    239
Wind Speed    239
dtype: int64

In [30]:
hotel_df = preferred_cities_df[['City','Country','Max Temp','Lat','Lng']].copy()
hotel_df['Hotel Name']=''
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0      Rikitea      PF     75.04 -23.1203 -134.9692
1       Souris      CA     82.40  49.6172 -100.2612
3     Portland      US     80.01  45.5234 -122.6762
5   Aquidauana      BR     86.04 -20.4711  -55.7872
6    Bathsheba      BB     84.20  13.2167  -59.5167
8         Hilo      US     84.20  19.7297 -155.0900
9       Albany      US     75.00  42.6001  -73.9662
11     Grenada      ES     75.20  37.1882   -3.6067
12      Grants      US     78.80  35.1473 -107.8514
13    Katsuura      JP     73.00  35.1333  140.3000

In [31]:
#use nearby search from google maps 
#https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters (output could be json or xml)
#https://maps.googleapis.com/maps/api/place/nearbysearch/json (base_url)
#add the parameters in the search 
params = {'radius':5000, 
         'type': 'lodging',
         'key':g_key}
for index, row in hotel_df.iterrows(): 
    lat = row["Lat"]
    lng = row["Lng"]
    
    params['location'] = f"{lat},{lng}" 
    
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    hotels = requests.get(base_url, params = params).json()
    #grab the first hotel from the results and store the name 
    try:
        hotel_df.loc[index,'Hotel Name'] = hotels['results'][0]['name']
    except(IndexError):
        print('Hotel not found...skipping')

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [32]:
#add a heatmap of temperature for the vacation spots. 
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.1, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, point_radius=4, max_intensity=300)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.1, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, point_radius=4, max_intensity=300)
#add a heatmap of temperature for the vacation spots and marker for each city. 
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
#inbox poppup message 
#info_box_template = """ (three """ stands for strings)
#<dl> (DESCRIPTION LIST)
#<dt>Name</dt><dd>{column1}</dd> (description term)(description definition)
#<dt>Another name</dt><dd>{column2}</dd>
#</dl>
#"""
# info_box_template variable is assigned to a multiline string using three quotes
#text inside the multiline string is HTML code

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [38]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))